.appname{
    font-size: larger;  
    flex: 1;
    padding: 14px;
   
    
    
}
.header{
    flex-direction: row;
    display: flex;
    background-color: #cab7a6;  
    height: 60px;
    width: 100%;
    
}


.tempselector{
    font-size: medium;
    flex:1;
    display: flex;
    justify-content: flex-end;
    margin: 15px;
    align-items: center;
}



.togglebtn{
    border-radius: 10px;
    height: 85%;
    width: 40px;
    
}

@media only screen and (max-width: 600px) {
    .appname{
        padding: 2%;
        padding-top: 2px;
    }
    

}